.item-banner-container {
    background-image: url('https://res.cloudinary.com/dokbp23jt/image/upload/v1770724640/Group_7444_npva5z.png');
    background-size: cover;

    display: flex;
    padding: 10px;
}

.item-banner-container-part-1 {
    width: 210px;
    padding: 10px;
}

.item-banner-image-container {
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.item-banner-image-container-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.item-banner-container-part-2 {
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.part-2-heading {
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.part-2-paragraph {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto;
    line-height: 16px;
}

.item-banner-part-2-rating-container {
    display: flex;
    justify-content: space-around;
}

.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.rating-heading {
    font-size: 12px;
    font-weight: 700;
    font-family: DM Sans;
    line-height: 16px;
    align-self: center;

    color: #ffffff;
}

.start-icon {
    width: 12px;
    height: 12px;
    align-items: center;
}

.ratings-count {
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;

    color: #e2e8f0;
}

.li-item-heading-new {
    color: #334155;
    font-size: 16px;
    font-weight: 700;
    font-family: DM Sans;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-top: 0px;
    margin-bottom: 3px;
}

.li-item-paragraph-new {
    color: #334155;
    font-size: 14px;
    font-weight: 500;
    font-family: DM Sans;
    line-height: 16px;
    letter-spacing: 0.2px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.rating-text {
    color: #1e293b;
    font-family: DM Sans;
    font-size: 14px;
}

.add-button {
    border: 2px solid #ffa412;
    outline: none;
    background-color: transparent;
    color: #ffa412;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    line-height: 12px;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
}

.ul-list-items-res {

    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.restaurants-list-items {

    margin: 0px;
    padding: 20px;

    gap: 20px;
}

.li-item-res {
    width: 100%;
    list-style-type: none;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.li-item-part-1-res {
    max-width: 50%;
    height: 120px;
    width: 150px;
}

.li-item-part-2-res {
    max-width: 50%;
    height: 120px;
    padding-left: 20px;
}

.li-item-image-res {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.ratings-star-con {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0px;
    height: 20px;
}


.inc-dec-container {
    display: flex;
    gap: 10px;
    align-items: center;
}


.inc-button {

    width: 24px;
    height: 24px;
    cursor: pointer;
    color: #3E4C59;
    font-weight: bold;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #475569;
}

.btn-container {
    margin-top: 10px;
}

.btn-image {
    width: 9px;
    height: 9px;
}

.quantity-text {
    color: #475569;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: bold;
}



.li-item-part-2-res {
    width: 50%;
    padding: 15px;
    height: 100%;
}

@media screen and (min-width: 576px) {
    .item-banner-container {
        display: flex;
        justify-content: center;
    }

    .restaurants-list-items {
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 40px;
        margin-right: 40px;
    }



}