div {
    font-family: DM Sans;
}

.popular-container {
    padding: 20px;
}

.popular-heading {
    color: #183b56;
    font-size: 24px;
    font-weight: 700;
    font-family: DM Sans;
}

.popular-title {
    color: #64748b;
    font-size: 12px;
    font-weight: 500;
    font-family: DM Sans;
    line-height: 24px;
    letter-spacing: 0px;
}

.popular-sort-container {
    display: flex;
    gap: 10px;
}

.popular-sort-label {
    color: #475569;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    font-family: DM Sans;
    padding: 10px;
    outline: none;
    border-width: 0px;
}

.popular-arrow-button {
    outline: none;
    border-width: 0px;
    cursor: pointer;
    background-color: transparent;
}

.popular-sort-label-container {
    height: 24px;
    display: flex;
    align-items: center;
}

.arrow {
    width: 24px;
    height: 24px;
}

.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.sort-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ul-list-items {

    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.li-item {
    list-style-type: none;
    padding: 0px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    height: 100px;
}

.li-item-part-1 {
    width: 50%;
}

.li-item-part-2 {
    width: 50%;
    padding: 10px;
}

.li-item-image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.li-item-part-2-name {
    color: #334155;
    font-family: DM Sans;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.2px;
    margin-top: 0px;
}

.li-item-part-2-title {
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 400;
    color: #64748b;
    margin: 0px;
}

li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.li-item-rating-container {
    display: flex;
    gap: 5px;

    margin: 0px;
    margin-bottom: 10px;
}

.rating-star-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rating-score {
    color: #1e293b;
    font-size: 14px;
    font-weight: 700;
    font-family: DM Sans;
    align-self: center;
}

.ratings-count-h {
    color: #64748b;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 12px;
}

.pages-filtering-container {
    display: flex;
    justify-content: center;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pages-heading {
    font-family: Bree Serif;
    font-size: 16px;
    font-weight: 400;
}

.arrow-button-page {
    width: 24px;
    height: 24px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #334155;
}

hr {
    display: none;
}



.home-view-cart-container {
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
}


.view-cart-button {
    border: 2px solid #ffa412;
    outline: none;
    background-color: #ffa412;
    color: #FFFFFF;
    font-size: 14px;
    font-family: Inter;
    font-weight: 700;
    line-height: 12px;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    letter-spacing: 2px;
    line-height: 24px;
}

.view-cart-text {
    margin: 0px;
    color: #FFFFFF;
    font-weight: 600;
}

.view-cart-count {
    margin: 4px;
    color: #64748b;
    font-size: 16px;
}

.count-items {
    color: #64748b;
    font-weight: bold;
}

@media screen and (min-width: 567px) {
    .md-sort-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .popular-container {
        padding: 40px;
    }

    .ul-list-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    hr {
        display: block;
        color: #cbd2d9;
    }

    .home-view-cart-container {
        display: none;
    }
}